body {
    image-rendering: pixelated;
    background: url("noise.png"), url("field.png");
    background-size: 25vw;
    font-family: Nunito, sans-serif;
    user-select: none;
    overflow: hidden;
}

#ball, .hole {
    width: 2vw;
    height: 2vw;
    transform: translateX(-1vw) translateY(-1vw);
    border-radius: 50%;
    border-width: 0.05vw;
    border-style: solid;
    position: absolute;
}

#ball {
    background: #bbb;
    border-width: 0.05vw;
    border-style: solid;
    z-index: 2;
}

.hole {
    background: #222;
    z-index: 0;
    transform: scale(1.5) translate(-0.666vw, -0.666vw);
}

#info {
    text-align: center;
    width: 50%;
    height: 30%;
    background: #888;
    border-radius: 5vw 5vw 0 0;
    position: absolute;
    left: 25%;
    bottom: 0;
    z-index: 3;
}

#info > b > span {
    font-size: 4vw;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#aimArrow {
    height: 2vw;
    transform: rotate(0.5turn);
}

#power {
    width: 0;
    height: 5vh;
    position: absolute;
    bottom: 0;
    background: #090;
    animation-name: power;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

#holeLocation {
    width: 2vw;
    z-index: 1;
}

#holeLocationDiv {
    top: 50vh;
    left: 50vw;
    margin-top: -60px;
    transform-origin: 0 60px;
}

img {
    pointer-events: none;
}

.obstacle {
    position: absolute;
    z-index: -1;
}

#scoring {
    background: #888;
    height: 100%;
    padding-right: 0.4vw;
    font-size: 0.6vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    text-align: center;
}

#scoring > div > p {
    margin-left: 0.4vw;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

::-webkit-scrollbar {
    width: 1.5vw;
}

::-webkit-scrollbar-track {
    background: #888;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-color: #888;
    border-style: solid;
    border-width: 0.25vw;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}